body {
    /*background-image:  url('../image/background.png');*/
    background: gainsboro;
}
.clearfix{
    clear: both;
}
.dropdown-menu{
    width: auto !important;
}

.showCommentBtn {
    float:right;
    margin-bottom: 5px;
    margin-right:5px;
}

.commentTitle, .commentBody{
    margin-left:20px;
}
.commentTitle {
    color: #FF6A00;
    font-weight: bold;
    clear:both;

}

.commentBody {
    color:#303030;
    font-size: 0.8em;
}

fieldset {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    border: 1px solid gray;
}

#post{
    margin-top: 10px;
}

.notification{
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 10;
    background-color: darkblue;
    color: white;
    border: 1px solid red;
    padding: 20px;
}